#home-bottom-center {
    .home-bottom-center-text {
        top: 10%;
        h1 {
            font-size: 3rem;
        }
    }
}

#home-bottom-left h2 {
    @media screen and (min-width: 768px) {
        font-size: 2.25rem;
    }
}
