#home-bottom-center {
    .home-bottom-center-text {
        top: 9%;
        h1 {
            font-size: 2.5rem;
        }
    }
}

#home-bottom-left h2 {
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}
